extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      section.neck-step-1
        h1.big-main-logo.animated.flipInY
          i.ion-code-working
          span Empren
            b Devs
        p.sub-line.text-center(style="margin-bottom:35px;") 
          | 
          br
          | La primer hackathon para programadores FullStack
        p.sub-line.text-center
          a(href="https://www.google.com.ar/maps/place/Grupo+Polo+Tecnologico+Rosario+S.H./@-32.9474163,-60.6353579,17z/data=!4m6!1m3!3m2!1s0x95b7ab195f405e7d:0xe3d4a9ba0c7fe007!2sGrupo+Polo+Tecnologico+Rosario+S.H.!3m1!1s0x95b7ab195f405e7d:0xe3d4a9ba0c7fe007")
            i.fa.fa-map-marker.fa-fw
            | Maipú 835, Polo Tecnológico Rosario
  .arrow-separator.arrow-white
  .row.color-1
    .col-sm-12
      section.neck-step-2
        .fc-con.animated(flipclock)
        ul.list-inline.calendar-resume
          li
            p
              i.fa.fa-calendar
            p.highlight 23/10
            p Kickstart
          li
            p 
              i.fa.fa-calendar
            p.highlight 24/10
            p Hackathon
          li
            p
              i.fa.fa-calendar
            p.highlight 25/10
            p Premiación
  .arrow-separator.arrow-theme
  .row.color-2
    .col-sm-10.col-sm-offset-1
      section.neck-step-3.desafio-con
        h2 El Desafío
        p 
          | Los participantes tendrán 48 hs. para crear una aplicación web desde cero,
          | usando alguna de las siguientes tecnologías.
        ul.list-inline.tech
          li
            a.tech-anyandgo(href="http://anyandgo.io/", target="_blank")
          li
            a.tech-mongo(href="https://www.mongodb.org/", target="_blank")
          li
            a.tech-express(href="http://expressjs.com/", target="_blank")
          li
            a.tech-angularjs(href="http://angularjs.org/", target="_blank")
          li
            a.tech-nodejs(href="https://nodejs.org/", target="_blank")
        ul.list-inline.tech
          li
            a.tech-famous(href="http://famous.org/", target="_blank")
          li
            a.tech-backbone(href="http://backbonejs.org/", target="_blank")
          li
            a.tech-reactjs(href="http://facebook.github.io/react/", target="_blank")
          li
            a.tech-ionic(href="http://ionicframework.com/", target="_blank")
          li
            a.tech-auth0(href="https://auth0.com/", target="_blank")
          li
            a.tech-sails(href="http://sailsjs.org/", target="_blank")
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com", target="_blank") Sugerir tecnología
  .arrow-separator.arrow-themelight
  .row.color-1
    .col-sm-12
      section.neck-step-4.jurado-con
        h2 Que pertenezca a alguna de estas categorías:
        div.col-sm-8.col-sm-offset-2
          ul.fa-ul.text-left.lista-categorias
            li
              i.fa-li.fa.fa-check-circle
              | Educativas, E-learning, Gestión de Contenidos, Gestión de la Calidad Total
            li
              i.fa-li.fa.fa-check-circle
              | Machine Learning, Inteligencia Artificial, Simulación
            li
              i.fa-li.fa.fa-check-circle
              | E-commerce, Software de Gestión, Finanzas, Fintech, Bitcoins
            li
              i.fa-li.fa.fa-check-circle
              | Social Media, Gamification, Email Marketing, Publicidad
            li
              i.fa-li.fa.fa-check-circle
              | Responsabilidad Social, Concientización, Cuidado del Medio Ambiente
            li
              i.fa-li.fa.fa-check-circle
              | Geolocación, Control de Flota
            li
              i.fa-li.fa.fa-check-circle
              | Productividad, Gestión de Tareas, Herramientas para Desarrolladores, GTD
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com", target="_blank") Proponer Categoría
  .arrow-separator.arrow-theme
  .row.color-3
    .col-sm-10.col-sm-offset-1.criterios-con
      section.neck-step-5
        h2 Jurado
        ul.list-inline.lista-jurado
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/amotta-foto.jpg")
            p.label-n Alejandro Motta
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/alejandromotta", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/alejandromotta", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/yibarra-foto.jpg")
            p.label-n Yanina Ibarra
            ul.list-inline
              li  
                a(href="https://ar.linkedin.com/in/yaninaibarra", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
                li.hide
                  a(href="#", target="_blank")
                    i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/dichiazza-foto.jpg")
            p.label-n Leandro Di Chiazza
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/leandrodichiazza", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/dzmov", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/ccortez-foto.jpg")
            p.label-n Cristian Cortez
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/cortezcristian", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/cortezcristian", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com", target="_blank") Postular Jurado

        h2 Criterios de evaluación
        div.col-sm-10.col-sm-offset-2
          ul.fa-ul.text-left
            li
              i.fa-li.fa.fa-lightbulb-o
              | Factibilidad de concreción, innovación, posibilidad de negocio
            li
              i.fa-li.fa.fa-certificate
              | Buenas prácticas, estándares, performance
            li
              i.fa-li.fa.fa-gear
              | User experience, usabilidad, responsive, comunicación
            li
              i.fa-li.fa.fa-paint-brush
              | Diseño, estética, presentación
            li
              i.fa-li.fa.fa-wheelchair
              | Accesibilidad, plain language
            li
              i.fa-li.fa.fa-star-o
              | Documentación, tests, código fuente, integración continua, coverage
            li
              i.fa-li.fa.fa-shield
              | Seguridad
            li
              i.fa-li.fa.fa-file-code-o
              | Entregables
  .arrow-separator.arrow-grey
  .row.color-4
    .col-sm-10.col-sm-offset-1
      section.neck-step-6.auspiciantes-con
        h2 Organizan
        ul.list-inline
          li
            a(href="http://www.polotecnologico.net/", target="_blank")
              img(src="./sponsors/logo-polo-tecnologico3.png")
          li
            a(href="http://emprendedores.la/", target="_blank")
              img(src="./sponsors/logo-emprendedoresla.png")
        h2 Sponsors
        ul.list-inline
          li
            a(href="http://www.gameiq.la", target="_blank")
              img(src="./sponsors/logo-gameiq2.png")
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com", target="_blank") Auspiciar el Evento
  .arrow-separator.arrow-white
  .row.color-3
    .col-sm-8.col-sm-offset-2.con-social-networks
      section.neck-step-7
        p.text-center
          a.go-up(href="#")
            i.ion-arrow-up-b
        ul.list-inline.social-networks-list
          li
            a(href="https://twitter.com/emprendevs/", target="_blank")
              i.ion-social-twitter
          li
            a(href="https://www.facebook.com/emprendevs", target="_blank")
              i.ion-social-facebook
          li
            a(href="mailto:emprendevs@gmail.com", target="_blank")
              i.ion-ios-email-outline
          li
            a(href="https://www.linkedin.com/grp/home?gid=8386827", target="_blank")
              i.ion-social-linkedin
        p.sub-line.text-center
          | &#8226; Aprendé, construí y divertite &#8226;
  //.row
    .neck
      #main-carousel.carousel.carousel-bg.slide(data-ride='carousel', data-interval="30000", hero)
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#main-carousel', data-slide-to='0')
          li(data-target='#main-carousel', data-slide-to='1')
        
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated bounceInDown") #{__("Get Ready")}
              p.text-center
                span.text-center(data-animation="animated zoomInRight")
                  img(src="img/logos/anyandgo-eq-mean.png",style="max-width: 400px;")
          .item
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated flip") #{__("Innovate")}
              p
                span(data-animation="animated rotateIn")  $ [sudo] npm install anyandgo-cli
                span(data-animation="animated rollIn")  $ anyandgo init my-new-project 
        
        // Controls
        a.left.carousel-control(href='#main-carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#main-carousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      
  //.row.our-main-content
    .col-sm-10.col-sm-offset-1
      div
        .thumbnail
          .caption
            h3 #{__("Install anyandgo")}  
            pre
              code.language-bash $ [sudo] npm install -g anyandgo-cli 

            h3 Create a new project 
            pre
              code.language-bash 
              | $ anyandgo init mynewproject
              |    You have successfully created the anyandgo project
              |    Try:
              |         cd mynewproject
              |         npm install && bower install && grunt
            h3 #{__("MEAN Framework")}  
            div(style="min-height: 100px;")
              p Anyandgo let you create blazing fast, scalable web applications using MongoDB, Express, Node.JS and AngularJS. 
              a.btn.btn-default(href='/docs', role='button')
                i.fa.fa-book(style="padding-right:10px")
                | #{__("Read Docs")}
