extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      section.neck-step-1
        h1.big-main-logo.animated.flipInY
          i.ion-code-working
          span Empren
            b Devs
        p.sub-line.text-center Hackaton para programadores FullStack
  .arrow-separator.arrow-white
  .row.color-1
    .col-sm-12
      section.neck-step-2
        .fc-con.animated(flipclock)
        ul.list-inline.calendar-resume
          li
            p
              i.fa.fa-calendar
            p 23/10
            p Kickstart
          li
            p 
              i.fa.fa-calendar
            p 24/10
            p Hackaton
          li
            p
              i.fa.fa-calendar
            p 23/10
            p Premiación
  .arrow-separator.arrow-theme
  .row.color-2
    .col-sm-8.col-sm-offset-2
      section.neck-step-3
        p Sample
        p Give Me your e-mail 
  .arrow-separator.arrow-themelight
  .row.color-3
    .col-sm-10.col-sm-offset-1
      section.neck-step-4.auspiciantes-con
        h2 Auspician
        ul.list-inline
          li
            a(href="http://www.polotecnologico.net/", target="_blank")
              img(src="./sponsors/logo-polo-tecnologico.png")
          li
            a(href="http://emprendedores.la/", target="_blank")
              img(src="./sponsors/logo-emprendedoresla.png")
          li
            a(href="", target="_blank")
              img(src="./sponsors/logo-gameiq2.png")
  .arrow-separator.arrow-grey
  .row.color-4
    .col-sm-8.col-sm-offset-2
      section.neck-step-5
        p Sample
        p Give Me your e-mail 
  .row
    .neck
      #main-carousel.carousel.carousel-bg.slide(data-ride='carousel', data-interval="30000", hero)
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#main-carousel', data-slide-to='0')
          li(data-target='#main-carousel', data-slide-to='1')
        
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated bounceInDown") #{__("Get Ready")}
              p.text-center
                span.text-center(data-animation="animated zoomInRight")
                  img(src="img/logos/anyandgo-eq-mean.png",style="max-width: 400px;")
          .item
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated flip") #{__("Innovate")}
              p
                span(data-animation="animated rotateIn")  $ [sudo] npm install anyandgo-cli
                span(data-animation="animated rollIn")  $ anyandgo init my-new-project 
        
        // Controls
        a.left.carousel-control(href='#main-carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#main-carousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      
  .row.our-main-content
    .col-sm-10.col-sm-offset-1
      div
        .thumbnail
          .caption
            h3 #{__("Install anyandgo")}  
            pre
              code.language-bash $ [sudo] npm install -g anyandgo-cli 

            h3 Create a new project 
            pre
              code.language-bash 
              | $ anyandgo init mynewproject
              |    You have successfully created the anyandgo project
              |    Try:
              |         cd mynewproject
              |         npm install && bower install && grunt
            h3 #{__("MEAN Framework")}  
            div(style="min-height: 100px;")
              p Anyandgo let you create blazing fast, scalable web applications using MongoDB, Express, Node.JS and AngularJS. 
              a.btn.btn-default(href='/docs', role='button')
                i.fa.fa-book(style="padding-right:10px")
                | #{__("Read Docs")}
