extends layout

block content
  .row
    .col-sm-8.col-sm-offset-2
      section.neck-step-1
        h1.big-main-logo.animated.flipInY
          i.ion-code-working
          span Empren
            b Devs
        p.sub-line.text-center(style="margin-bottom:35px;") 
          | 
          br
          | La primer hackathon para programadores  
          i fullstack
        p.sub-line.text-center
          i.fa.fa-calendar.fa-fw
          | 13, 14 y 15 de Noviembre
        p.sub-line.text-center
          a(href="https://www.google.com.ar/maps/place/Grupo+Polo+Tecnologico+Rosario+S.H./@-32.9474163,-60.6353579,17z/data=!4m6!1m3!3m2!1s0x95b7ab195f405e7d:0xe3d4a9ba0c7fe007!2sGrupo+Polo+Tecnologico+Rosario+S.H.!3m1!1s0x95b7ab195f405e7d:0xe3d4a9ba0c7fe007")
            i.fa.fa-map-marker.fa-fw
            | Maipú 835, Polo Tecnológico Rosario
        p.sub-line.text-center
          a(href="##premios").animated.bounce.infinite 
            i.ion-trophy
            |  Premios 
          span(style="padding: 0 10px 0 5px; margin: 0") ·
          a(href="##agenda")
            i.ion-ios-calendar-outline
            |  Agenda 
  .arrow-separator.arrow-white
  .row.color-1
    .col-sm-12
      section.neck-step-2
        p.text-center(style="padding-bottom: 20px; margin-bottom:20px")
          a.button(href="https://goo.gl/bHiWIr", target="_blank") Pre-inscribirse 
        .fc-con.animated(flipclock)
        // Botones redes sociales
        #fb-root
        script.
          (function(d, s, id) {
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) return;
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/es_LA/sdk.js#xfbml=1&version=v2.4";
          fjs.parentNode.insertBefore(js, fjs);
          }(document, 'script', 'facebook-jssdk'));
        .row(style="padding-bottom:20px;")
          .col-sm-9.col-sm-offset-3.text-center
            .row
              .col-sm-3.share-social
                .fb-like(data-href='https://www.facebook.com/emprendevs', data-layout='button')
              .col-sm-3.share-social
                .fb-share-button(data-href='http://www.emprendevs.com', data-layout='button_count', style='margin-bottom:2px;')
              .col-sm-3.share-social
                a.twitter-share-button(href='https://twitter.com/share', data-url='http://www.emprendevs.com') Tweet
                script.
                  !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');
        // Fin botones redes sociales
  .arrow-separator.arrow-theme
  .row.color-2
    .col-sm-10.col-sm-offset-1
      section.neck-step-3.desafio-con
        h2 
          | El Desafío consiste en
          | construir una aplicación web
          | usando alguna de las siguientes tecnologías:
        ul.list-inline.tech
          li
            a.tech-anyandgo(href="http://anyandgo.io/", target="_blank")
          li
            a.tech-mongo(href="https://www.mongodb.org/", target="_blank")
          li
            a.tech-express(href="http://expressjs.com/", target="_blank")
          li
            a.tech-angularjs(href="http://angularjs.org/", target="_blank")
          li
            a.tech-nodejs(href="https://nodejs.org/", target="_blank")
        ul.list-inline.tech
          li
            a.tech-famous(href="http://famous.org/", target="_blank")
          li
            a.tech-backbone(href="http://backbonejs.org/", target="_blank")
          li
            a.tech-reactjs(href="http://facebook.github.io/react/", target="_blank")
          li
            a.tech-ionic(href="http://ionicframework.com/", target="_blank")
          li
            a.tech-auth0(href="https://auth0.com/", target="_blank")
          li
            a.tech-sails(href="http://sailsjs.org/", target="_blank")
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com?subject=Sugerirencia de  tecnología", target="_blank") Sugerir tecnología
        .col-sm-10.col-sm-offset-1
          ul.fa-ul.text-left.lista-categorias
            li
              i.fa-li.fa.fa-check-circle
              | La inscripción al evento será gratuita para los participantes 
            li
              i.fa-li.fa.fa-check-circle
              | Los participantes deberán formar equipos de 3 a 5 personas 
              | y pre-inscribirse a través de esta web durante los 15 días previos al evento  
            li
              i.fa-li.fa.fa-check-circle
              | Los organizadores anunciarán la apertura a dicha inscripción para una cantidad
              | limitada de equipos
            li
              i.fa-li.fa.fa-check-circle
              | Los equipos tendrán 48 horas a partir del inicio del concurso para crear una aplicación web desde cero
            li
              i.fa-li.fa.fa-check-circle
              | Al finalizar el jurado elegirá a un ganador teniendo en cuenta los criterios de evaluación detallados en las 
              | Bases y Condiciones de la Competencia 
        p.text-center
          a.button(href="https://docs.google.com/document/d/1ZEy6cX_3-LT4gJPxTU6_eT3JORd_tiulDJLi3h9dFHc/edit?usp=sharing", target="_blank") Ver Bases y Condiciones
  .arrow-separator.arrow-themelight
  .row.color-1
    .col-sm-12
      section.neck-step-4.jurado-con
        h2 Que pertenezca a alguna de estas categorías:
        div.col-sm-8.col-sm-offset-2
          ul.fa-ul.text-left.lista-categorias
            li
              i.fa-li.fa.fa-check-circle
              | Educativas, E-learning, Gestión de Contenidos, Gestión de la Calidad Total
            li
              i.fa-li.fa.fa-check-circle
              | Machine Learning, Inteligencia Artificial, Simulación
            li
              i.fa-li.fa.fa-check-circle
              | E-commerce, Software de Gestión, Finanzas, Fintech, Bitcoins
            li
              i.fa-li.fa.fa-check-circle
              | Social Media, Gamification, Email Marketing, Publicidad Online
            li
              i.fa-li.fa.fa-check-circle
              | Responsabilidad Social, Concientización, Cuidado del Medio Ambiente
            li
              i.fa-li.fa.fa-check-circle
              | Geolocación, Control de Flota
            li
              i.fa-li.fa.fa-check-circle
              | Productividad, Gestión de Tareas, Herramientas para Desarrolladores
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com?subject=Proponer categoría", target="_blank") Proponer Categoría
  .arrow-separator.arrow-theme
  .row.color-3
    .col-sm-10.col-sm-offset-1.criterios-con
      section.neck-step-5
        h2 Jurado
        ul.list-inline.lista-jurado
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/amotta-foto.jpg")
            p.label-n Alejandro Motta
            p.label-brand Director · Emprendedores.LA 
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/alejandromotta", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/alejandromotta", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/yibarra-foto.jpg")
            p.label-n Yanina Ibarra
            p.label-brand Principal · Texts and Contexts 
            ul.list-inline
              li  
                a(href="https://ar.linkedin.com/in/yaninaibarra", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
                li.hide
                  a(href="#", target="_blank")
                    i.fa.fa-twitter-square.fa-2x
          //li
            img.img-circle.img-responsive.center-block(src="img/jurados/dichiazza-foto.jpg")
            p.label-n Leandro Di Chiazza
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/leandrodichiazza", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/dzmov", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/ccortez-foto.jpg")
            p.label-n Cristian Cortez
            p.label-brand Director · GameiQ 
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/cortezcristian", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/cortezcristian", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/pkeilty-foto.jpg")
            p.label-n Patricio Keilty
            p.label-brand Team Lead · Velocity Partners
            ul.list-inline
              li
                a(href="https://www.linkedin.com/pub/patricio-keilty/6/954/86", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/patokeilty", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          //li
            img.img-circle.img-responsive.center-block(src="img/jurados/mfigge-foto.jpg")
            p.label-n Mario Figge
            p.label-brand Director · 3tristestigres
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/mariofigge", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/mariofigge", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/mrepetto-foto.jpg")
            p.label-n Martin Repetto
            p.label-brand CEO · Voxelus Studios
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/pub/martin-repetto/11/747/27b", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              //li
                a(href="https://twitter.com/marianoobeid", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/eacosta-foto.jpg")
            p.label-n Esteban Acosta 
            p.label-brand Technical Manager · Globant 
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/estebanav", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/mobeid-foto.jpg")
            p.label-n Mariano Obeid
            p.label-brand Director · Killabunnies
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/marianoobeid", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/marianoobeid", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/lvandongen-foto.jpg")
            p.label-n Lucas van Dongen
            p.label-brand Freelancer · Mobile Expert
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/pub/lucas-van-dongen/a1/785/60a", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/lucasvandongen", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
          li
            img.img-circle.img-responsive.center-block(src="img/jurados/mfigge-foto.jpg")
            p.label-n Mario Figge
            p.label-brand Director · 3tristestigres 
            ul.list-inline
              li
                a(href="https://ar.linkedin.com/in/mariofigge", target="_blank")
                  i.fa.fa-linkedin-square.fa-2x
              li
                a(href="https://twitter.com/mariofigge", target="_blank")
                  i.fa.fa-twitter-square.fa-2x
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com?subject=Postular Jurado", target="_blank") Postular Jurado

        h2 Criterios de Evaluación
        div.col-sm-10.col-sm-offset-1
          ul.fa-ul.text-left.lista-criterios
            li
              i.fa-li.fa.fa-lightbulb-o
              | Factibilidad de concreción, innovación, posibilidad de negocio
            li
              i.fa-li.fa.fa-certificate
              | Buenas prácticas, estándares, performance
            li
              i.fa-li.fa.fa-gear
              | User experience, usabilidad, responsive, comunicación
            li
              i.fa-li.fa.fa-paint-brush
              | Diseño, estética, presentación
            li
              i.fa-li.fa.fa-wheelchair
              | Accesibilidad  (Level A y AA), plain language
            li
              i.fa-li.fa.fa-star-o
              | Documentación, tests, código fuente, integración continua, coverage
            li
              i.fa-li.fa.fa-shield
              | Seguridad Web, OWASP, Penetration Testing
            li
              i.fa-li.fa.fa-file-code-o
              | Entregables, repositorio, manual de uso, demostración en video
        p.text-center
          a.button(href="https://www.linkedin.com/grp/home?gid=8386827", target="_blank")
            | Aprender Más
  .arrow-separator.arrow-grey
  .row.color-4
    .col-sm-10.col-sm-offset-1
      section.neck-step-6.auspiciantes-con
        h2 Organizan
        ul.list-inline
          li
            a(href="http://www.polotecnologico.net/", target="_blank")
              img(src="./sponsors/CFCH.png")
          li
            a(href="http://emprendedores.la/", target="_blank")
              img(src="./sponsors/logo-emprendedoresla.png")
          li
            a(href="https://www.facebook.com/GAMEiQ-450429398456654", target="_blank")
              img(src="./sponsors/logo-gameiq2.png")
        h2 Auspiciantes
        ul.list-inline
          li
            a(href="http://www.osde.com.ar/", target="_blank")
              img(src="./auspiciantes/osde.png")
          li
            a(href="http://donweb.com/", target="_blank")
              img(src="./auspiciantes/donweb.jpg")
          li
            a(href="http://transdatos.com.ar/", target="_blank")
              img(src="./auspiciantes/transdatos.jpg")
        ul.list-inline
          li
            a(href="http://killabunnies.com.ar/", target="_blank")
              img(src="./auspiciantes/killabunnies.png")
          li
            a(href="http://www.tecso.coop/", target="_blank")
              img(src="./auspiciantes/tecso.png")
          li
            a(href="http://www.erapm.com.ar/", target="_blank")
              img(src="./auspiciantes/era.png")
        h2 Institucionales
        ul.list-inline
          li
            a(href="http://www.rosario.gov.ar/", target="_blank")
              img(src="./institucionales/mr.png")
          li
            a(href="http://www.santafe.gov.ar/", target="_blank")
              img(src="./institucionales/santafe.jpg")
          li
            a(href="http://www.moverse.org/", target="_blank")
              img(src="./institucionales/moverse.png")
        ul.list-inline
          li
            a(href="http://www.cifasis-conicet.gov.ar/", target="_blank")
              img(src="./institucionales/cifasis.png")
          li
            a(href="http://www.pmi.org.ar/", target="_blank")
              img(src="./institucionales/pmi.png")
          li
            a(href="http://www.frro.utn.edu.ar/", target="_blank")
              img(src="./institucionales/utnrosario.jpg")
        h2 Media Partners
        ul.list-inline
          li
            a(href="http://info341.com.ar/", target="_blank")
              img(src="./mediapartners/info341.jpg")
          li
            a(href="https://www.facebook.com/inspirarte.tv", target="_blank")
              img(src="./mediapartners/inspirarte.png")
          li
            a(href="http://nodocios.com.ar/", target="_blank")
              img(src="./mediapartners/nodocios.png")
        h2.hide Sponsors
        ul.hide.list-inline
        h2.hide Premios
        p.hide Serán revelados muy pronto...
        p.text-center
          a.button(href="mailto:emprendevs@gmail.com?subject=Solicitud para auspiciar el evento", target="_blank") Auspiciar el Evento
  .arrow-separator.arrow-white
  .row.color-3
    .col-sm-8.col-sm-offset-2.con-social-networks
      section.neck-step-7
        h2#agenda 
          i.ion-ios-calendar-outline
          |  Agenda 
        div
          // Agenda start
          .agenda
            .table-responsive
               table.table.table-condensed.table-bordered
                 thead
                   tr
                     th Día
                     th Hora
                     th Evento
                 tbody
                   // Multiple events in a single day (note the rowspan)
                   tr
                     td.agenda-date(rowspan='7')
                       .dayofmonth 13
                       .dayofweek Viernes
                       .shortdate.text-muted Noviembre, 2015
                     td.agenda-time
                       | 13:30 - 14:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-android-checkbox-outline
                           |  Acreditación 
                   tr
                     td.agenda-time
                       | 14:00 - 14:30 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-ios-chatbubble
                           |  Starting Point 
                           span - Alejandro Motta
                   tr
                     td.agenda-time
                       | 14:30 - 15:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-ios-chatbubble
                           |  Principios de Usabilidad 
                           span - Yanina Ibarra
                   tr
                     td.agenda-time
                       | 15:00 - 15:30 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-ios-chatbubble
                           |  Anyandgo MEAN Stack
                           span - Cristian Cortez
                   tr
                     td.agenda-time
                       | 15:30 - 16:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-ios-chatbubble
                           |  Cloud Computing 
                   tr
                     td.agenda-time
                       | 16:00 - 16:30 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-ios-chatbubble
                           |  Presentación de los equipos
                   tr
                     td.agenda-time
                       | 16:30 - 18:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3 
                           i.ion-code-working
                           |  Comienza la hackathon 
                   // Single event in a single day
                   tr
                     td.agenda-date(rowspan='1')
                       .dayofmonth 14
                       .dayofweek Sábado
                       .shortdate.text-muted Noviembre, 2015
                     td.agenda-time
                       | 9:00 - 18:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3(style="padding: 10px 0")
                           i.ion-code-working
                           |  Continua la hackathon 
                   // Multiple events in a single day (note the rowspan)
                   tr
                     td.agenda-date(rowspan='3')
                       .dayofmonth 15
                       .dayofweek Domingo 
                       .shortdate.text-muted Noviembre, 2015
                     td.agenda-time
                       | 9:00 - 16:30 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3
                           i.ion-code-working
                           |  Continua la hackathon 
                   tr
                     td.agenda-time
                       | 16:30 - 17:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3
                           i.ion-code-working
                           |  El jurado delivera 
                   tr
                     td.agenda-time
                       | 17:00 - 18:00 HS
                     td.agenda-event.speaker
                       .agenda-event
                         h3
                           i.ion-trophy
                           |  Premiación y cierre
          // Agenda end 
        h2#premios 
          i.ion-trophy
          |  Premios 
        .table-responsive.premios
           table.table.table-condensed
             thead
               tr
                 th 
                 th
                   p.text-center Premios
             tbody
               tr
                 td(style="width:240px;")
                   h3
                     i.ion-ribbon-b
                     |  Primer Puesto
                   p(style="text-align:center") Elegido por el jurado
                 td
                   h4 Cloud server pack 1 (para el equipo): 
                   p 
                    | Descripción: 1 vCPU's, 1 GB RAM, 10 GB SSD Storage por un año. Sin licencias
                   p 
                    | Valor: $1250 anual - cortesía de Donweb
                   h4 Plan de hosting basico sin dominio (cada cada uno de los integrantes): 
                   p 
                    | Valor: $599 anual - cortesía de Donweb

        .table-responsive.premios
           table.table.table-condensed
             thead
               tr
                 th 
                 th
                   p.text-center Premios
             tbody
               tr
                 td(style="width:240px;")
                   h3
                     i.ion-ribbon-a
                     |  Popularidad 
                   p(style="text-align:center") Elegido por votación
                 td
                   h4 Cloud server pack 1 (para el equipo): 
                   p 
                    | Descripción: 1 vCPU's, 1 GB RAM, 10 GB SSD Storage por un año. Sin licencias
                   p 
                    | Valor: $1250 anual - cortesía de Donweb
                   h4 Plan de hosting basico sin dominio (cada cada uno de los integrantes): 
                   p 
                    | Valor: $599 anual - cortesía de Donweb
        
        h2 En breve anunciaremos más premios, también habrá sorteos y sorpresas!! 

        h2 ¿Te interesa conocer novedades sobre el evento?
        ul.list-inline.social-networks-list
          li
            a(href="https://twitter.com/emprendevs/", target="_blank")
              i.ion-social-twitter
          li
            a(href="https://www.facebook.com/emprendevs", target="_blank")
              i.ion-social-facebook
          li
            a(href="mailto:emprendevs@gmail.com", target="_blank")
              i.ion-ios-email-outline
          li
            a(href="https://www.linkedin.com/grp/home?gid=8386827", target="_blank")
              i.ion-social-linkedin
          li
            a(href="https://plus.google.com/u/0/102479694016638575862", target="_blank")
              i.ion-social-googleplus
        p.sub-line.text-center
          | &#8226; Aprendé, construí y divertite &#8226;
        p.sub-line.text-center
          a(href="https://docs.google.com/document/d/1ZEy6cX_3-LT4gJPxTU6_eT3JORd_tiulDJLi3h9dFHc/edit?usp=sharing", target="_blank") Bases y Condiciones de la Competencia 
        p.text-center
          a.go-up(href="#")
            i.ion-arrow-up-b
  //.row
    .neck
      #main-carousel.carousel.carousel-bg.slide(data-ride='carousel', data-interval="30000", hero)
        // Indicators
        ol.carousel-indicators
          li.active(data-target='#main-carousel', data-slide-to='0')
          li(data-target='#main-carousel', data-slide-to='1')
        
        // Wrapper for slides
        .carousel-inner(role='listbox')
          .item.active
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated bounceInDown") #{__("Get Ready")}
              p.text-center
                span.text-center(data-animation="animated zoomInRight")
                  img(src="img/logos/anyandgo-eq-mean.png",style="max-width: 400px;")
          .item
            .carousel-caption(data-animation="animated flipInY")
              h2(data-animation="animated flip") #{__("Innovate")}
              p
                span(data-animation="animated rotateIn")  $ [sudo] npm install anyandgo-cli
                span(data-animation="animated rollIn")  $ anyandgo init my-new-project 
        
        // Controls
        a.left.carousel-control(href='#main-carousel', role='button', data-slide='prev')
          span.glyphicon.glyphicon-chevron-left(aria-hidden='true')
          span.sr-only Previous
        a.right.carousel-control(href='#main-carousel', role='button', data-slide='next')
          span.glyphicon.glyphicon-chevron-right(aria-hidden='true')
          span.sr-only Next
      
  //.row.our-main-content
    .col-sm-10.col-sm-offset-1
      div
        .thumbnail
          .caption
            h3 #{__("Install anyandgo")}  
            pre
              code.language-bash $ [sudo] npm install -g anyandgo-cli 

            h3 Create a new project 
            pre
              code.language-bash 
              | $ anyandgo init mynewproject
              |    You have successfully created the anyandgo project
              |    Try:
              |         cd mynewproject
              |         npm install && bower install && grunt
            h3 #{__("MEAN Framework")}  
            div(style="min-height: 100px;")
              p Anyandgo let you create blazing fast, scalable web applications using MongoDB, Express, Node.JS and AngularJS. 
              a.btn.btn-default(href='/docs', role='button')
                i.fa.fa-book(style="padding-right:10px")
                | #{__("Read Docs")}
